body {
    background-color: #0f0f0f;
    color: #fcfbfc;
    font-family: 'EB Garmond', serif;
    margin: 0;
}
h1, h2 {
    font-family: 'Cinzel Decorative', cursive;
    color: #f72127;
}
header {
    background-color: #18251c;
    padding: 1rem;
}
nav>a {
    color: #fcfbfc;
    background-color: #5c765a;
    padding: 1rem;
    font-weight: 800;
    display: inline-block;
    margin: 1rem 1rem 1rem 0;
}
.sidenav {
    background-color: #5c765a;
    padding: .5rem 1rem;
}
.sidenav>a {
    background-color: #fae2c0;
    color: #0f0f0f;
    padding: .5rem 1rem;
    display: inline-block;
    margin: .5rem .5rem 0 0;
}
main {
    padding: 1rem;
}
section {
    padding: 0 1rem;
}
.title {
    margin: 0;
    padding: 2rem 1rem;
    background-color: #2e0105;
}
@media (min-width: 1100px) {
    body {
        display: grid;
        grid-template-columns: 20rem auto;
        grid-template-rows: auto auto;
    }
    header {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;

        display: flex; 
        justify-content: space-between;

    }
    .sidenav 
    {
        grid-column-start: 1;
        grid-row-start: 2;
    }
    main {
        grid-column-start: 2;
        grid-row-start: 2;
    }
    .sidenav>a {
        display: block;
        text-align: right;
    }
}
