body {
    background-color: #0f0f0f;
    color: #fcfbfc;
    font-family: 'EB Garmond', serif;
    margin: 0;
}
h1, h2 {
    font-family: 'Cinzel Decorative', cursive;
    color: #f72127;
}
header {
    background-color: #18251c;
    padding: 1rem;
}
nav>a {
    color: #fcfbfc;
    background-color: #5c765a;
    padding: 1rem;
    font-weight: 800;
    display: inline-block;
    margin: 1rem 1rem 1rem 0;

    transition-property: opacity;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}
.sidenav {
    background-color: #5c765a;
    padding: .5rem 1rem;
}
.sidenav>a {
    background-color: #fae2c0;
    color: #0f0f0f;
    padding: .5rem 1rem;
    display: inline-block;
    /* margin: .5rem .5rem 0 0; */

    margin: 1rem 2rem;
    position: relative;
    transition: opacity .2s ease-in-out, left .5s ease-in-out;
}
.sidenav>a:before, .sidenav>a:after {
    position: absolute;
    width: 1.7rem;
    height: 2.5rem;
    top: -.6rem;
}
.sidenav>a:before {
    content: url('images/scroll-left.svg');
    left: -1.6rem;
}
.sidenav>a:after {
    content: url('images/scroll-right.svg');
    right: -1.6rem;
} 
main {
    padding: 1rem;
}
section {
    padding: 0 1rem;
    padding-left: 5rem;
    position: relative;
}
section:before{
    position:absolute;
    width: 3rem;
    left: 0;
    top: 0;
    transform: scale(.07);
}
#odin:before {
    content: url('images/050-odin.svg');
}
#Thor:before {
    content: url('images/001-helmet.svg');
}
#Loki:before{
    content: url('images/002-swords.svg');
}
#Baldr:before {
    content: url('images/003-horn.svg');
}
#Frigg:before {
    content: url('images/004-shield.svg');
}
#Freyr:before {
    content: url('images/005-flag.svg');
}
#Freyja:before {
    content: url('images/006-beer-mug.svg');
}
#Heimdallr:before {
    content: url('images/007-hammer.svg');
}
#Yggdrasil:before {
    content: url('images/015-valkyrie.svg');
}
#Asgard:before {
    content: url('images/049-arrows.svg');
}
#Vanaheimr:before {
    content: url('images/045-tower.svg');
}
#Alfheimr::before {
    content: url('images/031-skull.svg');
}
#Midgard::before {
    content: url('images/035-knife.svg');
}
#Jötunheimr::before {
    content: url('images/042-mask.svg');
}
#Muspelheim::before {
    content: url('images/025-bullseye.svg');
}
#Svartálfar::before {
    content: url('images/040-viking-2.svg');
}
#Niflheim:before {
    content: url('images/016-barrel.svg');
}
#Niðavellir:before {
    content: url('images/043-bag.svg');
}
.title {
    margin: 0;
    padding: 2rem 1rem;
    background-color: #2e0105;
}

@media (min-width: 1100px) {
    body {
        display: grid;
        grid-template-columns: 20rem auto;
        grid-template-rows: auto auto;
    }
    header {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;

        display: flex; 
        justify-content: space-between;

    }
    .sidenav 
    {
        grid-column-start: 1;
        grid-row-start: 2;
    }
    main {
        grid-column-start: 2;
        grid-row-start: 2;
    }
    .sidenav>a {
        display: block;
        text-align: right;

        margin: 2rem;
        left: -10rem;
    }
    .sidenav>a:hover{
        left: 0;
    }
}
