h1 {
    color: gold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
a {
    margin: 25rem; /*All four sides = 25rem */
    color: red;
    font-weight: 100;
    font-size: 2rem;
}
ul {
    background-color: antiquewhite;
    font-size: 2rem;
    font-weight: 50;
}
ol {
    margin: 1rem;
    background-color: aquamarine;
    padding: 2rem; /* All four sides equal 2 rem */
}
h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h3 {
    text-align: center;
}
img {
    width: 25%;
}
p {
    padding: 2rem;
}
