body {
    background-color: #fdf6e4;
}
header {
    margin: 1rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
section {
    margin: 1rem 5rem;
}
nav>a {
    margin-left: 5rem;
    color: #f9545b;
    text-decoration: none;
    font-family: 'Eater', cursive;
    font-family: 'Montserrat', sans-serif;
}
nav>a:hover {
    color: #fa7578;
    text-decoration: underline;
}
.about-image, .hours-image{
    height: 250px;
}
.basket-image{
    height: 35px;
    align-self: baseline;
}
.little-icons {
    height: 25px;
}
.pudding-icon, .the-goods {
    height: 50px;
    align-self: baseline;
}
.the-goods-text {
    align-self: baseline;
    font-family: 'Eater', cursive;
    font-family: 'Montserrat', sans-serif;
}
.butter-half-image {
    height: 100px;
}
.break-point {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f9545b;
    color: white;
    padding-top: 1rem;
    padding-bottom: .125rem;
}
.butter-half {
    height: 400px;
    color: white;
    background-image: url('images/croissant.jpeg');
}
.header-one {
    font-size: 50px;
    font-family: 'Eater', cursive;
    font-family: 'Montserrat', sans-serif;
}
.butter-half-paragraph {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}
.butter-half-div {
    padding: 5rem ;
}
.about {
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
}
.about-div {
    margin-left: 2rem;  
}
.about-div h2 {
    color: #f9545b;
}
.about-header, .hours-header {
    font-family: 'Eater', cursive;
    font-family: 'Montserrat', sans-serif;
}
.hours {
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center; 
}
.hours-div {
    margin-left: 2rem;
}
.hours-div h2 {
    color: #f9545b;
}
.hours-schedule {
    display: flex;
    flex-direction: row;
}
.days {
    margin-left: 3rem;
}
.card-image {
    height: 250px;
}
.first-card{
    display: grid;
    grid-template-columns: 25rem 25rem 25rem;
    justify-content: space-around;
    text-align: center;
    margin: 1rem 5rem;
}
.card {
    background-color: white;
    font-family: 'Eater', cursive;
    font-family: 'Montserrat', sans-serif;
    color: #f9545b;
    width: 300px;
    margin: .125rem .5rem;
    padding: 1rem;
}
footer {
    background-color: #5bc0b4;
    color: #0b132b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5rem;
    align-items: center;
}
.social img {
    height: 2rem;
    margin: .25rem;
}
.bottom-nav {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.bottom-nav>a {
    color: #fdf6e4;
    margin-top: .125rem;
    margin-bottom: .125rem;
    font-family: 'Poppins', sans-serif;
}
.submit {
    background-color: #f9545b;
    color: white;
    width: max-content;
    padding: 1rem 7rem;
    font-family: 'Eater', cursive;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
}
.quantity {
    border-radius: 5px;
    border: solid 3px #2aac92;
    background-color: #fdf6e4;
    padding: .5rem .5rem;
    margin-top: 1rem;
}
label {
    color: black;
}
h3 {
    height: 50px;
}
.hamburger {
    display: none;
}
.toggle-nav {
    margin-top: 1rem;
}
header nav {
    position: static;
    background-color: unset;
    width: unset;
}
@media (max-width: 1000px) {
    header {
        margin: 1rem 2rem;
    }
    section {
        margin: 1rem 2rem;
    }
    .hamburger {
        display: block;
        width: 40px;
        padding: .5rem;
    }
    .hamburger hr {
        margin: .75rem 0;
        border: 2px solid #f9545b;
    }
    header nav a {
        display: block;
        margin-left: 0;
        color: #fa7578;
        text-align: center;
        text-decoration: none;
        padding: 3rem;
        border: 1px solid #fa7578;
    }
    .toggle-nav {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 0;
        left: -100%;
        background-color: white;
        position: fixed;
        z-index: 1; 
        top: 5.5rem;
        width: 100%;
    }
    .hamburger, nav.show {
        left: 0;
    }
    .overlay{
        width: 100%;
        height: 100%;
        top: 5.5rem;
        background-color: #fa75777a;
        transition-property: left;
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
        left: 100%;
    }
    .overlay.show {
        left: 0;
    }
    .butter-half-image {
        height: 50px;
    }
    .butter-half {
        height: 200px;
    }
    .butter-half-div{
        padding: 1rem;
        text-align: center;
    }
    .header-one {
        font-size: 25px;
    }
    .butter-half-paragraph {
        font-size: 15px;
    }
    .about, .hours{
        flex-direction: column;        
    }
    .first-card{
        grid-template-columns: 15rem 11rem;       
    }
    .card-image {
        height: 150px;
    }
    .card {
        width: 150px;
    }
    .submit {
        padding: 1rem 3rem;
    }
    .quantity {
        padding: .5rem .125rem;
    }
    .little-icons {
        height: 20px;
        align-self: center;
    }
    .pudding-icon, .the-goods {
        height: 40px;
    }
    .break-point {
        display: grid;
        grid-template-columns: 3rem 9rem 2rem 2rem 2rem;
    }
    .the-goods-mobile {
        grid-column-start: 1;
        grid-column-end: 1;
    }
    .little-icons-mobile {
        grid-column-start: 4;
        grid-column-end: 5;
    }
    .other-icons-mobile {
        grid-column-start: 5;
        grid-column-end: 6;
    }
}